:root {
	--border: 1px solid gray;
	--br: 0.4em;
	--selection-bg: rgb(214, 231, 246);
}

.row {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	gap: 1em;
}

.headings {
	display: flex;
	flex-direction: row;
	gap: 1em;

	p {
		border: var(--border);
		border-radius: var(--br);
		padding: 0.3em 0.6em;
	}

	.selected {
		background-color: var(--selection-bg);
	}
}


.form-add-data {

	.course {
		border: var(--border);
		border-radius: var(--br);
		display: flex;
		flex-direction: column;
		padding: 0.25em 0.5em;
		margin: 0.5em 0;

		h3 {
			margin: 0;
		}
	}

	[type="number"] {
		width: 5em;
	}
}
